apiVersion: apps/v1
kind: Deployment
metadata:
  name: bendrocorp-frontend-deployment
spec:
  selector:
    matchLabels:
      app: bendrocorp-frontend-deployment
  replicas: 1
  template:
    metadata:
      labels:
        app: bendrocorp-frontend-deployment
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: bendrocorp-frontend-deployment
        image: docker.pkg.github.com/bendrocorp/bendrocorp-frontend/bendrocorp-frontend:VERSION_HERE
        imagePullPolicy: Always
        ports:
        - containerPort: 80