body
{
  /*rgba(45, 63, 81, 1)*/
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(45, 63, 81, 1) 100%),  url(../img/stars-backer.png);
  background-size: cover;
}

img{
  max-width: 100%;
}

.centered
{
    text-align: center;
}

.righted
{
  text-align: right;
}

.navbar
{
  border-radius: 0px;
}

.jumbotron
{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%), url(../img/top-art.jpg);
  background-size: cover;
  height: 550px;
  margin-top: 0px;
  padding-top: 0px;

  /* Fade layer */
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }
}

.career-sidebar
{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.9) 100%), url(../img/careers-sidebar.png);
  background-size: cover;
  height: 350px;
  margin-top: 0px;
  padding-top: 0px;

  /* Fade layer */
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }
}

.mission-sidebar
{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%), url(../img/arccorp-orbit.png);
  background-size: cover;
  height: 350px;
  margin-top: 0px;
  padding-top: 0px;

  /* Fade layer */
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }
}

.contacts-sidebar
{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.65) 100%), url(../img/crusader-lattice.jpg);
  background-size: cover;
  height: 350px;
  margin-top: 0px;
  padding-top: 0px;

  /* Fade layer */
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
  }
}

img.banner-img
{
  padding: 20px;
  width:850px;
}
